@media screen and (max-width: 1366px){
body{
   font-size: 16px;
   line-height: 22px;
}
.top__img,
.logo__img img{
   width: 70%;
}
.top__text{
   margin: 15px 0 25px;
}
.benefits{
   &__item{
      margin-bottom: 80px;
   }
}
.specification__box-2,
.specification__box-4{
   margin-top: 115px;
}
.specification__item--center{
   text-align: center;
   img{
      width: 80%;
   }
}
}
@media screen and (max-width: 1280px){
   .benefits__item{
      width: 45%;
   }
}
@media screen and (max-width: 1170px){
   .top__title{
      margin-top: 90px;
   }
   .products__inner{
      padding: 0 0 50px 0;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
   }
   .products__text{
      max-width: 428px;
      margin: 0 auto 40px auto;
      padding-top: 15px;
   }
   .products__text::before{
      width: 432px;
      height: 368px;
      transform: skewX(0);
      right: -3px;
      top: 0;
   }
   .title{
      padding-left: 0;
   }
   .products__slider::before{
      height: 520px;
   }
}
@media screen and (max-width: 1100px){
.specification__box::before{
   display: none;
}
.menu{
   order: 1;
}
.menu__list{
   // display: none;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   background-color: rgba(#1c1c1c,.9);
   z-index: -1;
   display: flex;
   padding-top: 90px;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   transform: translateY(-1000%);
   transition: transform .8s;
}
.menu__list-item + .menu__list-item{
   padding-left: 0;
}
.menu__list.active{
   transform: translateY(0%);
   transition: transform .8s;
}
.menu__list-phone,
.menu__list-link{
   display: block;
}
.header__phone-menu{
   font-size: 15px;
   line-height: 17px;
   padding: 15px;
   border: 1px solid #fff;
}
.menu__btn{
display: block;
position: relative;
background-color: transparent;
border: none;
outline: none;
padding: 0;
cursor:pointer;;
}
.menu__btn::before,
.menu__btn::after{
   content:"";
   width: 24px;
   height: 2px;
   background-color: #fff;
   display: block;
   margin-bottom: 4px;
   transition: transform .3s
}
.menu__btn::after{
   margin-bottom: 0px;
   width: 16px;
   margin-left: auto;
}
.menu__btn-line{
   display: block;
   background-color: #fff;
   width: 24px;
   height: 2px;
   margin-bottom: 4px;
   opacity: 1;
   transition: opacity 1s;
}
.menu__btn.active{
   .menu__btn-line{
      opacity: 0;
      transition: opacity 0s;
   }
   &::after{
      width: 24px;
      transform: translateY(-6px) rotate(-135deg);
   }
   &::before{
      transform: translateY(6px) rotate(135deg);
   }
}
.header__phone{
   display: none;
}
.header__btn{
   margin-right: 0;
   margin-left: -73%;
}
.benefits__item{
   width: 100%;
   margin-bottom: 40px;
}
.benefits__item:nth-child(even){
   margin-left: 200px;
   transform: translateY(0);
}
.benefits__info{
   width: 35%;
}
}

@media screen and (max-width: 890px){
.phone_call{
   display: none;
}
.specification__inner{
   padding-left: 0;
   display: block;
}
.specification__item--center img{
   width: 40%;
}
.specification__box{
   width: 100%;
   text-align: center;
}
.specification__box-2,
.specification__box-4{
   margin-top: 30px;
}
.benefits__img{
   margin-right: 0;
}
.contacts__inner{
   flex-wrap: wrap;
}
.contacts__form{
   width: 100%;
   margin-right: 0;
   order: 1;
}
}
@media screen and (max-width: 740px){
.top__title{
   font-size: 28px;
   line-height: 58px;
}
.title{
   font-size: 26px;
   line-height: 26px;
   margin-bottom: 35px;
}
.time-section{
   padding: 10px;
}
.count{
   font-size: 30px;
}
.benefits__item:nth-child(even),
.benefits__item:nth-child(3){
   margin-left: 0;
}
.benefits__item{
   margin-left: 0;
}
.benefits__item,
.contacts__inner{
   padding-left: 0;
}
.benefits__info{
   width: 100%;
   padding-left: 5px;
}
}
@media screen and (max-width: 570px){
.products__slider{
   max-width: 310px;
   &-img{
      width: 310px;
   }
   &::before{
      display: none;
   }
}
.products__inner{
   padding: 0;
}
.faq-title{
   padding: 11px 30px;
}
}
@media screen and (max-width: 500px){
.header__btn{
   font-size: 13px;
   padding: 6px 15px;
   margin-left: -7%;
}
.products__text::before,
.slider-btn{
   display: none;
}
.products p{
   margin-bottom: 10px;
}
.benefits__num{
   display: none;
}
.benefits__item{
   display: block;
}
.benefits__img,
.benefits__info-text{
   text-align: center;
}
.benefits__info-title{
   margin: 0 auto;
   text-align: center;
   width: 300px;
}
.contacts__form-line{
   justify-content: center;
   flex-direction: column;
}
.contacts__form-input{
   width: 100%;
}
.contacts__form-input + .contacts__form-input{
   margin: 10px 0;
}
}
@media screen and (max-width: 450px){
.top__title{
   font-size: 22px;
   line-height: 38px;
   margin-top: 82px;
}
.top__sale{
   font-size: 17px;
}
.count{
   font-size: 25px;
}
.top__social-item{
   margin: 0 13px;
}
.top__text{
   margin: 14px 0 16px;
}
.menu__btn{
   margin-left: 20px;
}
.faq-title::after{
   right: 7px;
}
.contacts__social-list{
   flex-direction: row;
   width: 100%;
   justify-content: space-around;
}
.products__text{
   margin: 0 auto 10px auto;
}
.title{
   padding-top: 10px;
   margin-bottom: 20px;
}
.benefits__img img{
   width: 44%;
}
.marquee__img{
   width: 111%;
}
}
@media screen and (max-width: 370px){
.top{
   margin-bottom: 22px;
}
.benefits__items{
   margin-top: 30px;
}
.title{
   padding-top: 10px;
   font-size: 22px;
   margin-bottom: 0;
}
.time-section{
   padding: 5px;
}
.products p{
   font-size: 14px;
   margin-bottom: 5px;
}
.specification__box-title,
.benefits__info-title{
   font-size: 18px;
}
}

